<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rrr_robot_arm_with_gripper_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <joint name="base_to_rod1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_to_rod1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rod1_to_rod2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rod1_to_rod2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rod2_to_rod3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rod2_to_rod3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rod3_to_left_finger">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rod3_to_left_finger']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rod3_to_right_finger">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rod3_to_right_finger']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
