<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rrr_robot_arm_with_gripper">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rrr_robot_arm_with_gripper urdf file -->
    <xacro:include filename="$(find robot)/urdf/description_test.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rrr_robot_arm_with_gripper.ros2_control.xacro" />


    <xacro:rrr_robot_arm_with_gripper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
